<ion-header>
  <ion-toolbar>
    <ion-title>Companion Care</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-container">
    <div class="logo-container">
      <img src="assets/images/pet-logo.jpg" alt="Pet Care App Logo">
    </div>
    
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">
        <div *ngIf="email.errors?.required">Email is required</div>
        <div *ngIf="email.errors?.email">Please enter a valid email</div>
      </div>
      
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error-message">
        <div *ngIf="password.errors?.required">Password is required</div>
      </div>
      
      <ion-button expand="block" type="submit" [disabled]="loginForm.invalid">
        Login
      </ion-button>
      
      <div class="register-link">
        <a (click)="goToRegister()">Don't have an account? Register</a>
      </div>
    </form>
  </div>
</ion-content>