<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>ADD A PET</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="petForm" (ngSubmit)="onSubmit()">
    <div class="photo-upload">
      <div class="photo-container" (click)="selectImage()">
        <img *ngIf="previewUrl" [src]="previewUrl" alt="Pet Photo">
        <div *ngIf="!previewUrl" class="upload-placeholder">
          <ion-icon name="image-outline" size="large"></ion-icon>
          <p>Upload photo</p>
        </div>
      </div>
    </div>
    
    <ion-item>
      <ion-label position="floating">NAME</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">SPECIES</ion-label>
      <ion-select formControlName="species">
        <ion-select-option value="Dog">Dog</ion-select-option>
        <ion-select-option value="Cat">Cat</ion-select-option>
        <ion-select-option value="Bird">Bird</ion-select-option>
        <ion-select-option value="Fish">Fish</ion-select-option>
        <ion-select-option value="Small Animal">Small Animal</ion-select-option>
        <ion-select-option value="Reptile">Reptile</ion-select-option>
        <ion-select-option value="Other">Other</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">BREED</ion-label>
      <ion-input type="text" formControlName="breed"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">GENDER</ion-label>
      <ion-select formControlName="gender">
        <ion-select-option value="Male">Male</ion-select-option>
        <ion-select-option value="Female">Female</ion-select-option>
        <ion-select-option value="Unknown">Unknown</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">DATE OF BIRTH</ion-label>
      <ion-datetime formControlName="dob" displayFormat="MMM DD, YYYY"></ion-datetime>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">WEIGHT (KG)</ion-label>
      <ion-input type="number" formControlName="weight"></ion-input>
    </ion-item>
    
    <ion-button expand="block" type="submit" [disabled]="petForm.invalid" class="ion-margin-top">
      Save Pet
    </ion-button>
  </form>
</ion-content>